@charset "UTF-8";

/*---------------------------------------------------------------------------------

	Theme Name: Radcliffe
	Version: 1.14
	Description: A theme for bloggers who want their content to take center stage. Radcliffe features responsive design, retina-ready assets, full width header images, beautiful design and typography, support for custom logo, support for custom accent color, three widget areas, editor style and translation-ready code. Included translations: Swedish/svenska.
	Tags: gray, white, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, sticky-post, threaded-comments, translation-ready, editor-style
	Author: Anders Norén
	Author URI: http://www.andersnoren.se
	Theme URI: http://www.andersnoren.se/teman/radcliffe-wordpress-theme/
	License: GNU General Public License version 2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	
	All files, unless otherwise stated, are released under the GNU General Public License
	version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

-----------------------------------------------------------------------------------

	0.	CSS Reset
	1.	Document Setup
	2.  Structure
	3.	Header
	4.	Navigation
	5.	Main Content
	6.  Single Post
	7.	Post Content
	8.	Comments
	9.	Pagination
	10.	Page & Page Templates
	11.	Footer
	12.	Credits
	13. Media Queries

----------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	0. CSS Reset
/* -------------------------------------------------------------------------------- */

html, body { margin:0; padding:0;}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-style:normal;
	font-size:100%;
	line-height:1;
	font-family:inherit;
	text-align:left;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol, ul {
	list-style:none;
}

blockquote:before, blockquote:after {
	content:"";
}

a { outline:none; }

input,
textarea { -webkit-font-smoothing: antialiased; }

input[type=search] {
   -moz-appearance:none;
   -webkit-appearance:none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/* -------------------------------------------------------------------------------- */
/*	1. Document Setup
/* -------------------------------------------------------------------------------- */


body {
	margin: 0;
	padding: 0;
	border: none;
	color: #222;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body a {
	color: #CA2017;
	text-decoration: none;
}

body a:hover {
	color: #CA2017;
	text-decoration: none;
}

* { 
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.hidden { display: none; }
.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }

::selection {
	background: #222;
	color: #FFF;
}

::-webkit-input-placeholder { color: #A9A9A9; }
:-ms-input-placeholder { color: #A9A9A9; }


/* Transitions --------------------------------------- */


body a,
.tagcloud a:before {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.post-nav a,
.respond input,
.respond textarea,
.archive-nav a,
.blog-title a,
.main-menu a,
.main-menu > .has-children > a::after,
.main-menu > .menu-item-has-children > a::after,
.nav-toggle,
.bypostauthor .by-post-author,
.search-button,
.media-caption,
.post-content input[type="submit"],
.post-content input[type="reset"],
.post-content input[type="button"],
.nav-toggle,
.nav-toggle p,
.nav-toggle .bar {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.post-header,
.post-title,
.search-form #s,
.archive-nav a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* Screen Reader Text --------------------------------------- */


.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* -------------------------------------------------------------------------------- */
/*	2.	Structure
/* -------------------------------------------------------------------------------- */


.section { padding: 100px 0; }

.medium-padding { padding: 80px 0; }
.light-padding { padding: 50px 0; }
.small-padding { padding: 30px 0; }
.no-padding { padding: 0; }

.bg-grey { background: #f1f1f1; }

.section-inner {
	width: 1300px;
	max-width: 84%;
	margin: 0 auto;
}

.section-inner.medium { width: 1040px; }
.section-inner.thin { width: 740px; }


/* grid */


.one-fourth { width: 21.5%; margin-left: 5%; float: left; }
.one-third { width: 30%; margin-left: 5%; float: left; }
.one-half { width: 47.5%; margin-left: 5%; float: left; }
.two-thirds { width: 65%; margin-left: 5%; float: left; }

.one-fourth:first-child,
.one-third:first-child,
.one-half:first-child,
.two-thirds:first-child { margin-left: 0; }


/* -------------------------------------------------------------------------------- */
/*	3. Header
/* -------------------------------------------------------------------------------- */


.header { 
	padding: 40px 0; 
	border-top: 4px solid #222;
}

.single.no-featured-image .header,
.page.no-featured-image .header,
.error404 .header { border-bottom: 1px solid #ddd; }

.header-inner { position: relative; }

.blog-title {
	float: left;
	font-family: 'Abril Fatface', serif;
	font-size: 2em;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 7px;
}

.blog-title a { color: #222; }
.blog-title a:hover { color: #ca2017; }

.blog-logo {
	display: block; 
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
}

.blog-logo img {
	display: block;
	height: 60px;
	width: auto;
}

.nav-toggle { display: none; }


/* header search block */


.header-search-block { background: #222; }

.header-search-block #s {
	display: block;
	width: 100%;
	background: none;
	border: none;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: #fff;
}

.header-search-block #s::-webkit-input-placeholder { color: rgba(255,255,255,0.5); }
.header-search-block #s:-ms-input-placeholder { color: rgba(255,255,255,0.5); }

.header-search-block #s:focus { outline: none; }


/* -------------------------------------------------------------------------------- */
/*	4. Navigation
/* -------------------------------------------------------------------------------- */


.main-menu { margin-top: 2px; }

.main-menu li {
	float: left;
	margin: 0 10px 0 0;
	position: relative;
}

.main-menu > li:last-child { margin-right: 0; }

.main-menu a {
	display: block;
	padding: 13px 15px;
	font-size: 0.775em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #222;
}

.main-menu > li > a { border-radius: 3px; }

.main-menu > .has-children > a,
.main-menu > .menu-item-has-children > a { padding-right: 33px; position: relative; }

.main-menu > .has-children > a::after,
.main-menu > .menu-item-has-children > a::after {
	content: "";
	display: block;
	border: 5px solid transparent;
	border-top-color: #999;
	position: absolute;
	z-index: 1001;
	right: 16px;
	top: 50%;
	margin-top: -2px;
}

.main-menu > li:hover > a { 
	color: #FFF;
	background: #CA2017; 
}

.main-menu > .has-children:hover > a::after,
.main-menu > .menu-item-has-children:hover > a::after { border-top-color: #fff; }


/* search toggle */


.main-menu a.search-toggle {
	padding: 0;
	height: 40px;
	width: 40px;
	background: url(images/icons/1x/spyglass-d.png) no-repeat center;
	background-size: 20px auto;
}

.main-menu a.search-toggle:hover { 
	background: url(images/icons/1x/spyglass-d.png) no-repeat center; 
	background-size: 20px auto;
}


/* drop-down menu */


.main-menu ul { 
	position: absolute;
	padding-top: 20px;
	margin-left: -110px;
	z-index: 150;
	opacity: 0;
	top: 45px;
	left: -9999px;
	-webkit-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.main-menu > ul { top: 30px; }

.main-menu ul:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	border: 10px solid transparent;
	border-bottom-color: #222;
	left: 50%;
	margin-left: -10px;
	top: 1px;
}

.main-menu > li:hover > ul { 
	opacity: 1;
	top: 40px; 
	left: 50%;
}

.main-menu ul li { 
	margin: 0; 
	float:none; 
	display: block; 
}

.main-menu ul a { 
	padding: 20px;
	width: 220px;
	background: #222;
	color: #FFF;
	border-bottom: 0;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0;
	font-size: 0.75em;
	line-height: 120%;
	text-transform: none;
}

.main-menu ul a:hover {
	color: #FFF;
	background: #CA2017;
}

.main-menu ul > li:first-child > a { border-radius: 6px 6px 0 0; }
.main-menu ul > li:last-child > a { border-radius: 0 0 6px 6px; }


/* deep down */

.main-menu ul ul {
	display: block;
	padding-top: 0;
	margin-top: -42px;
	padding-right: 20px;
	margin-left: -235px;
	left: 0;
	-webkit-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.main-menu ul ul:after {
	border: 10px solid transparent;
	border-left-color: #222;
	right: 0px;
	left: auto;
	margin-top: 18px;
}

.main-menu ul li:hover ul { 
	opacity: 1; 
	margin-top: -47px;
}


/* -------------------------------------------------------------------------------- */
/*	5. Main Content
/* -------------------------------------------------------------------------------- */


.post { position: relative; }

.posts .post.has-featured-image { min-height: 266px; }

/* featured media */

.featured-media { 
	position: relative;
	display: block;
	width: 100%;
	max-height: 682px;
}

a.featured-media:hover { opacity: 0.75; }

.featured-media > img { 
	visibility: hidden; 
	display: block;
	margin: 0 auto;
}

.media-caption-container {
	position: absolute;
	bottom: 5%;
	right: 5%;
	left: 5%;
	text-align: center;
}

.media-caption {
	display: inline-block;
	padding: 9px 12px;
	border-radius: 3px;
	background: #444;
	background: rgba(17,17,17,0.5);
	font-size: 0.8em;
	line-height: 120%;
	font-weight: 400;
	font-style: italic;
	color: #fff;
}

.media-caption:hover { background-color: rgba(17,17,17,0.75); }

/* post header */

.post-header { display: block; }

a.post-header { position: static; }
a.featured-media + a.post-header { position: absolute; }

a.post-header {
	background: #BFBFBF;
	background: rgba(17,17,17,0.35);
	bottom: 0;
	left: 0;
	right: 0;
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
}

a.post-header:hover { 
	background: #333;
	background: rgba(17,17,17,0.75); 
	color: #FFF; 
}

.post.no-featured-image a.post-header { position: static; }
.post.no-featured-image a.post-header:hover { background: #333; }

a.post-header:hover .post-title { color: #CA2017; }

.post-meta-top { 
	text-transform: uppercase;
	color: #FFF;
	font-size: 0.9em;
	letter-spacing: 1px;
	font-weight: bold;
	text-align: center; 
	margin-bottom: 30px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.post-meta-top .sep { 
	color: #CCC;
	margin: 0px 5px; 
	font-weight: 400;
}

a.post-header .post-meta-top .sep { 
	color: #fff;
	color: rgba(255,255,255,0.5); 
	text-shadow: none; 
}

.sticky .post-meta-top { display: block; }

.post-title {
	font-family: 'Abril Fatface', serif;
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

a.post-header .post-title { 
	max-width: 90%; 
	margin-left: auto; 
	margin-right: auto; 
	text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}


/* -------------------------------------------------------------------------------- */
/*	6. Single Post
/* -------------------------------------------------------------------------------- */


.single .post,
.error404 .post,
.page .single.post { padding-bottom: 100px; }

.single .featured-media {
	z-index: 101;
	position: relative;
}

.single .post-header {
	position: static;
	background: none;
}

.single .post-meta-top,
.single .post-meta-top a {
	color: #666;
}

.single .post-meta-top a:hover { color: #CA2017; }

.single .post-title,
.single .post-meta-top { text-shadow: none; }

.single .post-title a { color: #222; }
.single .post-title a:hover { color: #CA2017; }


/* page links */


.page-links {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	color: #666;
}

.page-links:before {
	content: "";
	display: block;
	width: 48px;
	height: 1px;
	background: #ddd;
	margin-bottom: 10px;
}

.page-links .sep {
	color: #ccc;
	margin: 0 5px;
	font-weight: 400;
}

.page-links .sep:first-of-type { display: none; } 


/* Post meta */


.post-meta { 
	margin-top: 80px; 
	font-size: 14px;
	color: #666;
}

.post-meta .meta-block {
	padding-top: 12px;
	border-top: 1px solid #ddd;
}

.meta-title {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #767676;
}

.post-author-container { 
	position: relative; 
	min-height: 60px;
}

.post-author { width: 55%; float: left; }
.post-cat-tags { width: 40%; float: right; }

.post-author .avatar {
	max-width: 60px;
	height: auto;
	border-radius: 999px;
	position: absolute;
	left: 0;
	top: 0;
}

.post-author-inner { margin-left: 80px; }

.post-author-inner h3 { 
	font-size: 1.1em;
	font-weight: 700; 
}

.post-author-inner h3 a { color: #333; }
.post-author-inner h3 a:hover { color: #CA2017; text-decoration: none; }

.post-author p {
	margin-top: 8px;
	line-height: 150%;
	color: #444;
}


/* author links */


.author-links { margin-top: 15px; }

.author-links a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-color: #aaa;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px auto;
	margin-left: 3px;
	border-radius: 999px;
	text-indent: -9999px;
}

.author-links a:first-child { margin-left: 0; }

.author-links a.author-link-posts { background-image: url(images/icons/1x/archive-w.png); }
.author-links a.author-link-website { background-image: url(images/icons/1x/home-w.png); }

.author-links a:hover { background-color: #ca2017; }


/* post cat tags */


.post-cat-tags p { 
	line-height: 120%;
	margin-top: 12px; 
	padding: 3px 0 4px 22px;
	background: no-repeat left center;
	background-size: 16px auto;
}

p.post-categories { background-image: url(images/icons/1x/folder-g.png); }
p.post-tags { background-image: url(images/icons/1x/tag-g.png); }
p.post-nav-prev { background-image: url(images/icons/1x/prev-g.png); }
p.post-nav-next { background-image: url(images/icons/1x/next-g.png); }

.post-cat-tags p:first-child { margin-top: 0; }

.post-cat-tags a { color: #666; }

.post-nav:before {
	content: "";
	display: block;
	width: 32px;
	height: 1px;
	margin: 20px 0;
	background: #ddd;
}


/* -------------------------------------------------------------------------------- */
/*	7. Post Content
/* -------------------------------------------------------------------------------- */


.post-content {
	font-family: 'Crimson Text', 'Times New Roman', Times, serif;
	font-size: 1.25em;
}

.post-content a:hover { text-decoration: underline; }

.post-content p,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content li,
.post-content address,
.post-content dl,
.post-content .wp-caption,
.post-content pre {
	line-height: 160%;
	margin-bottom: 1.3em;
}

.post-content > *:first-child { margin-top: 0; }
.post-content *:last-child { margin-bottom: 0; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
	margin: 60px 0 30px;
	font-family: 'Open Sans', sans-serif;
	line-height: 120%;
}

.post-content h1 { 
	font-size: 1.6em; 
	font-weight: 700;
}

.post-content h2 { 
	font-size: 1.4em; 
	font-weight: 700;
}

.post-content h3 { font-size: 1.25em; }
.post-content h4 { font-size: 1.1em; }
.post-content h5 { font-size: 1em; }

.post-content h6 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.post-content h1+h1, .post-content h1+h2, .post-content h1+h3, .post-content h1+h4, .post-content h1+h5, .post-content h1+h6,
.post-content h2+h1, .post-content h2+h2, .post-content h2+h3, .post-content h2+h4, .post-content h2+h5, .post-content h2+h6,
.post-content h3+h1, .post-content h3+h2, .post-content h3+h3, .post-content h3+h4, .post-content h3+h5, .post-content h3+h6,
.post-content h4+h1, .post-content h4+h2, .post-content h4+h3, .post-content h4+h4, .post-content h4+h5, .post-content h4+h6,
.post-content h5+h1, .post-content h5+h2, .post-content h5+h3, .post-content h5+h4, .post-content h5+h5, .post-content h5+h6,
.post-content h6+h1, .post-content h6+h2, .post-content h6+h3, .post-content h6+h4, .post-content h6+h5, .post-content h6+h6 {
	margin-top: 25px;
}

.post-content blockquote p { 
	font-size: 1.1em;
	text-align: center; 
	font-style: italic;
}

.post-content blockquote:before,
.post-content blockquote:after {
	content: "";
	display: block;
	width: 100px;
	height: 2px;
	background: #ddd;
	margin: 40px auto;
}

.post-content cite {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.65em;
	line-height: 140%;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post-content cite:before { content: "— "; }

.post-content blockquote cite {
	display: block;
	margin-top: 40px;
	text-align: center;
}

.post-content blockquote cite em { font-style: italic; font-weight: bold; }

em, q {  font-style: italic;  }

.post-content strong em,
.post-content em strong {
	font-weight: bold;
	font-style: italic;
}

.post-content big { font-size: 1.25em; }

abbr, acronym { cursor: help; }

.post-content code, 
.post-content kbd,
.post-content pre {
	font-size: 0.85em;
	background: #EEE;
	font-family: Menlo, Monaco, monospace;
}

.post-content kbd,
.post-content code {
	padding: 5px;
	border-radius: 3px;
}

.post-content dl { line-height: 160%; }

.post-content dl dt { font-weight: bold; }

.post-content hr {
	display: block;
	width: 100px;
	height: 2px;
	background: #ddd;
	margin: 40px auto;
	border: none;
}

.post-content ul {
	list-style: disc;
	margin-left: 1.5em;
}

.post-content ul ul { list-style: circle; }
.post-content ul ul ul { list-style: square; }

.post-content ol {
	list-style: decimal;
	margin-left: 1.5em;
}

.post-content ol ol { list-style: lower-alpha; }
.post-content ol ol ol {
	list-style: lower-roman;
}

.post-content ul ul,
.post-content ul ol,
.post-content ol ul,
.post-content ol ol {
	margin-bottom: 0;
}

.post-content li {
	margin-bottom: 0.5em;
}

.post-content ol > li:last-child,
.post-content ul > li:last-child {
	margin-bottom: 0;
}

.post-content address {
	padding: 3% 3.5%;
	background: #f1f1f1;
}

.post-content pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	line-height: 140%;
	padding: 2% 2.5%;
	background: #FAFAFA;
	border: 1px solid #DDD;
	color: #333;
	font-size: 0.7em;
}


/* Post media --------------------------------------- */


.wp-caption,
.post-content img {
	max-width: 100%;
}

.post-content .alignleft,
.post-content .alignright {
	margin-bottom: 1.2em;
	max-width: 400px;
}

.post-content .wp-caption { max-width: 100%; }

.post-content .wp-caption img { display: block; }

.post-content .wp-caption .alignleft,
.post-content .wp-caption .alignright {
	margin-bottom: 0;
}

.post-content .alignleft {
	float: left;
	margin-left: -100px;
	margin-right: 1.5em;
}

.post-content .alignright {
	float: right;
	margin-right: -100px;
	margin-left: 1.5em;
}

.post-content .aligncenter { 
	margin-left: auto; 
	margin-right: auto;
}

.post-content .alignnone {
	max-width: 940px;
	margin: 30px -100px;
}

.post-content a.alignnone { width: 940px; }

.post-content .aligncenter img,
.post-content img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post-content .wp-caption-text,
.post-content .gallery-caption {
	padding-top: 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #888;
	text-align: center;
}

.post-content .gallery-caption {
	font-size: 16px;
	line-height: 24px;
}


/* Tables --------------------------------------- */


.post-content table {
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
}

.post-content tbody { 
	border-top: 1px solid #eee; 
    border-bottom: 1px solid #eee;
}

.post-content th,
.post-content td {
	padding: 2%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border-bottom: 1px solid #eee;
}

.post-content tr:last-child td { border-bottom: none; }

.post-content caption {
	color: #444;
	text-align: center;
	padding: 2%;
}

.post-content thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.post-content th {
	font-weight: bold;
	color: #444;
}

.post-content table tbody > tr:nth-child(odd) > td { background: #f9f9f9; }


/* Forms --------------------------------------- */


.post-content fieldset {
	padding: 25px;
	border: 2px solid #eee;
	margin-bottom: 1em;
}

.post-content fieldset legend {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 12px;
	background: #ca2017;
	color: #fff;
}

.post-content label {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75em;
	font-weight: 700;
}

.post-content input,
.post-content textarea { 
	font-family: 'Open Sans', sans-serif; 
	-webkit-font-smoothing: antialiased;
}

.post-content input[type="text"],
.post-content input[type="tel"],
.post-content input[type="url"],
.post-content input[type="password"],
.post-content textarea {
	width: 100%;
	padding: 14px 16px;
	font-size: 1rem;
	border: none;
	color: #333;
	background: #eee;
	border-radius: 3px;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
	-webkit-appearance: none;
}

.post-content textarea { 
	height: 180px; 
	line-height: 140%;
}

.post-content input[type="text"]:focus,
.post-content input[type="tel"]:focus,
.post-content input[type="url"]:focus,
.post-content input[type="password"]:focus,
.post-content textarea:focus {
	background: #222;
	color: #fff;
	outline: none;
}

.post-content input[type="submit"],
.post-content input[type="reset"],
.post-content input[type="button"] {
	padding: 12px 16px;
	margin: 0;
	border: none;
	background: #222;
	color: #fff;
	font-size: 0.9rem;
	line-height: 1;
	-webkit-appearance: none;
	border-radius: 3px;
}

.post-content input[type="submit"] + input[type="reset"],
.post-content input[type="submit"] + input[type="reset"],
.post-content input[type="reset"] + input[type="submit"],
.post-content input[type="reset"] + input[type="button"],
.post-content input[type="button"] + input[type="button"],
.post-content input[type="button"] + input[type="reset"],
.post-content input[type="button"] + input[type="submit"] {
	margin-left: 8px;
}

.post-content input[type="submit"]:hover,
.post-content input[type="reset"]:hover,
.post-content input[type="button"]:hover {
	cursor: pointer;
	background: #ca2017;
	color: #fff;
}

.post-content input[type="submit"]:focus,
.post-content input[type="submit"]:active {
	outline: none;
}


/* -------------------------------------------------------------------------------- */
/*	8. Comments
/* -------------------------------------------------------------------------------- */


.comments-title-container {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 80px;
}

.comments-title,
.comment-reply-title {
	font-size: 1.6em;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

.add-comment-title {
	margin-top: 12px;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
}

.add-comment-title a:hover { text-decoration: underline; }

li.comment { 
	position: relative;
	margin-top: 50px;
}

.commentlist > li.comment:first-child { margin:0; border: 0; padding:0; }

.comments ul.children { margin-left: 5%; }

.comment .avatar {
	max-width: 80px;
	height: auto;
	border-radius: 999px;
	position: absolute;
	top: 0;
	left: 0;
}

.bypostauthor .by-post-author {
	width: 32px;
	height: 32px;
	border-radius: 99px;
	background: #ca2017 url(images/icons/1x/author-w.png) no-repeat center 7px;
	background-size: 16px auto;
	text-indent: -9999px;
	position: absolute;
	z-index: 10;
	top: -2px;
	left: -2px;
}

.comment-inner {
	padding: 30px;
	background: #fff;
	border-radius: 6px;
	margin-left: 110px;
	position: relative;
}

.comment-inner:after {
	content: "";
	display: block;
	border: 12px solid transparent;
	border-right-color: #fff;
	position: absolute;
	top: 28px;
	left: -24px;
}


/* Comment header --------------------------------------- */


.comment-header { margin-bottom: 20px; }

.comment-header cite { font-weight: 700; }

.comment-header cite a { color: #333; }
.comment-header cite a:hover { color: #CA2017; }

.comment-header span { 
	font-size: 0.7em;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 5px;
	color: #999;
}

.comment-header span a { color: #999; }
.comment-header span a:hover { color: #CA2017; }


/* Comment content --------------------------------------- */


.comment-content { 
	font-family: 'Crimson Text', 'Times New Roman', Times, serif;
	font-size: 1.15em;
}

.comment-content a:hover { text-decoration: underline; }

.comment-content p,
.comment-content li,
.comment-content blockquote {
	line-height: 140%;
	margin-top: 1em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.comment-content *:first-child { margin-top: 0; } 
.comment-content *:last-child { margin-bottom: 0; }

.comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6 {
	margin: 40px 0 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
}

.comment-content h1+h1, .comment-content h1+h2, .comment-content h1+h3, .comment-content h1+h4, .comment-content h1+h5, .comment-content h1+h6,
.comment-content h2+h1, .comment-content h2+h2, .comment-content h2+h3, .comment-content h2+h4, .comment-content h2+h5, .comment-content h2+h6,
.comment-content h3+h1, .comment-content h3+h2, .comment-content h3+h3, .comment-content h3+h4, .comment-content h3+h5, .comment-content h3+h6,
.comment-content h4+h1, .comment-content h4+h2, .comment-content h4+h3, .comment-content h4+h4, .comment-content h4+h5, .comment-content h4+h6,
.comment-content h5+h1, .comment-content h5+h2, .comment-content h5+h3, .comment-content h5+h4, .comment-content h5+h5, .comment-content h5+h6,
.comment-content h6+h1, .comment-content h6+h2, .comment-content h6+h3, .comment-content h6+h4, .comment-content h6+h5, .comment-content h6+h6 {
	margin-top: 20px;
}

.comment-content blockquote {
	padding: 20px;
	background: #ddd;
}

.comment-content ul {
	list-style: disc;
	margin-left: 1.5em;
}

.comment-content ul ul { list-style: circle; }
.comment-content ul ul ul { list-style: square; }

.comment-content ol {
	list-style: decimal;
	margin-left: 1.5em;
}

.comment-content ol ol { list-style: lower-alpha; }
.comment-content ol ol ol {
	list-style: lower-roman;
}

.comment-content ul ul,
.comment-content ul ol,
.comment-content ol ul,
.comment-content ol ol {
	margin-bottom: 0;
}

.comment-content li {
	margin-top: 0.5em;
	line-height: 170%;
}

.comment-content ol > li:last-child,
.comment-content ul > li:last-child {
	margin-bottom: 0;
}

.comment-content address { 
	padding: 20px; 
	background: #ddd;
	line-height: 140%;
}

.comment-content pre {
	padding: 20px;
	background: #ddd;
	font-size: 0.9rem;
	line-height: 150%;
	overflow-x: scroll;
}


/* Comment actions --------------------------------------- */


.comment-actions { margin-top: 20px; }

.comment-actions a {
	margin-left: 10px;
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
}

.comment-actions a:first-child { margin-left: 0; }

.comment-actions a:hover { text-decoration: underline; }


/* Comment navigation --------------------------------------- */


.comments-nav-below {
	margin-top: 80px;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.comments-nav-below a {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}

.comments-nav-below a:hover { color: #CA2017; }

	
/* Respond --------------------------------------- */


.comments + .respond { border-top: 1px solid #ddd; }

.comments .comment-respond { margin-top: 50px; }
.comments .comment-respond .logged-in-as { margin-bottom: 50px; }

.nocomments {
	font-size: 1.25em;
	text-align: center;
	color: #888;
}

.comment-reply-title { margin-bottom: 20px; }

.comment-reply-title #cancel-comment-reply-link {
	font-size: 0.9rem;
	font-weight: 700;
}

.comment-reply-title #cancel-comment-reply-link:hover { text-decoration: underline; }

.comment-notes,
.logged-in-as { 
	text-align: center; 
	margin-bottom: 75px; 
	color: #666;
}

.logged-in-as a:hover { text-decoration: underline; }

.comment-respond .thirds { margin-bottom: 28px; }

.comment-respond .third {
	width: 31%;
	float: left;
	margin-left: 3.5%;
}

.comment-respond .third:first-child { margin-left: 0; }

.comment-respond input,
.comment-respond textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	background: #fff;
	border: 1px solid #DDD;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	color: #222;
}

.comment-respond input { 
	padding: 15px 20px; 
	-webkit-appearance: none;
}

.comment-respond input:focus,
.comment-respond textarea:focus {
	background: #222;
	border-color: #222;
	color: #FFF;
	outline: none;
}

.comment-respond textarea {
	height: 250px;
	line-height: 150%;
	-webkit-appearance: none;
}

.comment-respond .form-allowed-tags { 
	font-size: 0.9em;
	line-height: 160%;
	margin-top: 30px;
	color: #666;
	text-align: center;
}

.comment-respond .form-allowed-tags code { line-height: 160%; background: none; color: #666; }

.comment-respond .form-submit {
	margin-top: 30px;
	text-align: center;
}

.comment-respond #submit {
	width: auto;
	margin: 0 auto;
	background: #222;
	color: #FFF;
	border: none;
	border-radius: 3px;
}

.comment-respond #submit:hover {
	cursor: pointer;
	background-color: #CA2017;
}


/* -------------------------------------------------------------------------------- */
/*	9. Pagination
/* -------------------------------------------------------------------------------- */


.page-title { border-top: 1px solid #ddd; }
.search-no-results .page-title { border-bottom: 1px solid #ddd; }

.page-title h4 { 
	font-size: 0.9em;
	font-weight: 700;
	color: #888;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.page-title .tag-archive-meta p {
	margin-top: 12px;
	font-size: 0.9em;
	line-height: 120%;
	text-align: center;
	font-style: italic;
	color: #666;
}

/* Archive navigation --------------------------------------- */


.archive-nav { background: #EEE; }

.archive-nav a {
	display: block;
	float: left;
	width: 50%;
	text-align: center;
	padding: 75px 0;
	background: #EEE;
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	color: #666;
}

.archive-nav a:hover {
	background: #CA2017;
	color: #FFF;
}

.archive-nav a.post-nav-newer { float:right; }


/* -------------------------------------------------------------------------------- */
/*	10. Page & Page Templates
/* -------------------------------------------------------------------------------- */


.page .post-header { 
	position: static; 
}

.page .post-edit-link {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.8em;
}


/* Archives template --------------------------------------- */


.archive-container { margin-top: 80px; }

.archive-container li { 
	position: relative; 
	border-bottom: 1px solid #eee;
}

.archive-container li:first-child { border-top: 1px solid #eee; }

.archive-container a {
	display: block;
	padding: 16px 200px 16px 8px;
	font-family: 'Crimson Text', 'Times New Roman', Times, serif;
	font-size: 1.25em;
	line-height: 120%;
	color: #222;
}

.archive-container a span {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -7px;
	color: #999;
}

.archive-container a:hover { background-color: #fcfcfc; color: #ca2017; }


/* Single attachment --------------------------------------- */


.single-attachment .attachment-post-image {
	display: block;
	margin: 0 auto;
}


/* Error 404 --------------------------------------- */


.error404 .search-form,
.search-no-results .search-form { margin-top: 25px; }


/* Search --------------------------------------- */


.search-no-results .post-content p { text-align: center; }

.search-form { position: relative; }

.search-form #s {
	padding: 5% 20% 5% 5%;
	width: 100%;
	border: none;
	background: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #444;
	border-radius: 0;
	-webkit-appearance: none;
}

.search-form #s:focus { outline: none; }

.search-form .search-button {
	width: 40px;
	height: 40px;
	background: url(images/icons/1x/spyglass-d.png) no-repeat center;
	background-size: 20px auto;
	position: absolute;
	right: 5%;
	top: 50%;
	margin-top: -20px;
	-webkit-appearance: none;
	padding: 0;
	border: none;
	text-indent: -9999px;
	opacity: 0.5;
}

.search-form .search-button:hover {
	cursor: pointer;
	opacity: 1;
}


/* -------------------------------------------------------------------------------- */
/*	11. Footer
/* -------------------------------------------------------------------------------- */


.page .footer,
.search-no-results .footer,
.error404 .footer { border-top: 1px solid #ddd; }

.widget { margin-top: 60px; }
.widget:first-child { margin-top: 0; }

.widget-content { 
	font-family: 'Crimson Text', 'Times New Roman', Times, serif;
	font-size: 1.1em;
	color: #444;
}

.widget-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
	color: #222;
}

.widget-content a:hover { text-decoration: underline; }

.widget-content p,
.widget-content ol,
.widget-content ul {
	margin-top: 1em;
	line-height: 150%;
}

.widget-content li { 
	margin-top: 0.6em; 
	line-height: 130%;
	padding-left: 21px;
	position: relative;
}

.widget-content li ul,
.widget-content li ol { margin-top: 0.6em; }

.widget-content li:before {
	content: "»";
	display: block;
	color: #999;
	position: absolute;
	left: 0;
	top: 0;	
}

.widget-content li span {
	color: #666;
	font-style: italic;
}

.widget-content span.post-date:before,
.widget-content span.rss-date:before { content: " — "; }

.widget-content *:first-child { margin-top: 0; }
.widget-content *:last-child { margin-bottom: 0; }


/* Widget tag cloud --------------------------------------- */


.tagcloud a {
	display: block;
	float: left;
	padding: 6px 8px;
	margin: 0 6px 8px 13px;
	background: #aaa;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	line-height: 1;
	color: #FFF;
	position: relative;
	border-radius: 0 3px 3px 0;
}

.tagcloud a:before {
	content: "";
	display: block;
	border: 13px solid transparent;
	border-right-color: #aaa;
	position: absolute;
	left: -26px;
	top: 0;
}

.tagcloud a:after {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 99px;
	background: #fff;
	position: absolute;
	left: -3px;
	top: 50%;
	margin-top: -2px;
}

.tagcloud a:hover { background-color: #ca2017; color: #fff; text-decoration: none; }
.tagcloud a:hover:before { border-right-color: #ca2017; }


/* Widget calendar --------------------------------------- */


#wp-calendar {
	width: 100%;
	max-width: 100%;
	text-align: center;
}

#wp-calendar,
#wp-calendar caption,
#wp-calendar tr,
#wp-calendar td,
#wp-calendar th {
	text-align: center;
}

#wp-calendar td { padding: 3% 2%; }

#wp-calendar caption { 
	line-height: 1;
	text-transform: capitalize; 
	padding-bottom: 20px;
}

#wp-calendar thead th {
	font-size: 0.9em;
	line-height: normal; 
	font-weight: 700;
	text-transform: uppercase;
	padding: 3% 2% 1.75%;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

#wp-calendar tbody { border-bottom: 1px solid #eee; }

#wp-calendar tfoot td { padding: 0; }
#wp-calendar tfoot #prev { text-align: left; }
#wp-calendar tfoot #next { text-align: right; }

#wp-calendar tfoot a {
	display: block;
	padding: 12px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.725em;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}

#wp-calendar tfoot a:hover {
	text-decoration: none;
	color: #ca2017;
}


/* Widget search form --------------------------------------- */


.widget .search-form #s { font-size: 1rem; }


/* Widget RSS --------------------------------------- */


.widget_rss .widget-content li { margin-top: 1em; }

.widget_rss span.rss-date { display: block; }
.widget_rss span.rss-date:before { content: none; }

.widget_rss .rssSummary {
	font-size: 0.9em;
	margin-top: 5px;
}

.widget_rss cite {
	display: block;
	margin-top: 5px;
	font-weight: 700;
	font-style: italic;
}

.widget_rss cite:before { 
	content: "— "; 
	color: #999;
}


/* -------------------------------------------------------------------------------- */
/*	12. Credits
/* -------------------------------------------------------------------------------- */


.footer + .credits { border-top: 1px solid #ddd; }

.credits,
.credits a {
	color: #888;
}

.credits p {
	font-size: 0.8em;
	font-weight: 700;
	text-transform: uppercase;
}


/* -------------------------------------------------------------------------------- */
/*	13. Media Queries
/* -------------------------------------------------------------------------------- */


@media (min-height: 1100px) {
	
	.featured-media { max-height: none; }
		
}


@media (max-width: 1200px) {
	
	body { font-size: 18px; }
		
}


@media (max-width: 1020px) {
	
	
	.post-content .alignnone {
		max-width: 100%;
		margin: 0 auto;
	}
	
	.post-content a.alignnone { width: auto; }
	
	.post-content .alignright,
	.post-content .alignleft { max-width: 45%; }
	
	.post-content .alignright { margin-right: 0; }
	.post-content .alignleft { margin-left: 0; }
	
	.post-content .wp-caption { margin-bottom: 1em; }
	
	
}


@media (max-width: 1000px) {
	
	/* header */
	
	.header { padding: 30px 0; }
	
	.blog-title { 
		font-size: 32px;
		margin-top: 5px;
		margin-right: 105px;
	}
	
	.blog-logo {
		display: block; 
		position: static;
		left: inherit;
		top: inherit;
		float: left;
		margin-top: 0;
	}
	
	.blog-logo img {
		height: 60px;
		width: auto;
	}

	
	/* nav-toggle */
	
	
	.nav-toggle { 
		display: block;
		padding: 12px 12px 10px; 
		border-radius: 3px;
		position: absolute;
		top: 50%;
		margin-top: -16px;
		right: 0;
	}
	
	.nav-toggle .bars {
		height: 10px;
		width: 15px;
		float: right;
		position: relative;
		margin-top: -1px;
	}
	
	.nav-toggle .bar {
		width: 15px;
		height: 2px;
		background: #767676;
		border-radius: 2px;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.nav-toggle .bar:nth-child(2) { top: 4px; }
	.nav-toggle .bar:nth-child(3) { top: 8px; }
	
	.nav-toggle p {
		font-size: 14px;
		line-height: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: right;
		color: #767676;
		float: left;
		margin-right: 8px;
		position: relative;
		top: -1px;
	}
	
	.nav-toggle .close { display: none; }
	
	.nav-toggle:hover { cursor: pointer; }
	
	.nav-toggle.active { background: #019EBD; } 
	.nav-toggle.active p { color: #fff; } 
	
	.nav-toggle.active .bar { background: #fff; }
	
	.nav-toggle.active .bar:nth-child(1),
	.nav-toggle.active .bar:nth-child(3) { top: 4px; }
	
	.nav-toggle.active .bar:nth-child(2) { opacity: 0; }
	
	.nav-toggle.active .bar:nth-child(1) {
		-webkit-transform: rotate(45deg); 
		-moz-transform: rotate(45deg);  
		-ms-transform: rotate(45deg); 
		-o-transform: rotate(45deg); 
		transform: rotate(45deg); 
	}
	
	.nav-toggle.active .bar:nth-child(3) { 
		-webkit-transform: rotate(-45deg); 
		-moz-transform: rotate(-45deg);  
		-ms-transform: rotate(-45deg); 
		-o-transform: rotate(-45deg); 
		transform: rotate(-45deg); 
	}


	/* mobile menu */
	
	
	.main-menu { display: none; }
	
	.mobile-menu { background: #EEE; }
	
	.mobile-menu a {
		display: block;
		padding: 25px 8%;
		font-weight: 600;
		color: #666;
	}
	
	.mobile-menu a:hover { 
		background: #CA2017; 
		color: #fff;
	}
	
	.mobile-menu ul a { padding-left: 12%; }
	.mobile-menu ul ul a { padding-left: 16%; }
	.mobile-menu ul ul ul a { padding-left: 20%; }
	.mobile-menu ul ul ul ul a { padding-left: 24%; }
	.mobile-menu ul ul ul ul ul a { padding-left: 28%; }
	
	/* mobile search form */
	
	.mobile-search-form {
		background: #eee;
		border-top: 1px solid #ddd;
		position: relative;
	}
	
	.mobile-search-form #s {
		display: block;
		width: 100%;
		max-width: 84%;
		margin: 0 auto;
		background: none;
		border: none;
		padding: 25px 60px 25px 0;
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		font-weight: 400;
		color: #666;
	}
	
	.mobile-search-form #s:focus { outline: none; }
	
	.mobile-search-form .search-button {
		width: 40px;
		height: 40px;
		background: url(images/icons/1x/spyglass-d.png) no-repeat center;
		background-size: 20px auto;
		position: absolute;
		right: 8%;
		top: 50%;
		margin-top: -20px;
		-webkit-appearance: none;
		padding: 0;
		border: none;
		text-indent: -9999px;
		opacity: 0.5;
	}	
	
	.mobile-search-form .search-button:hover {
		cursor: pointer;
		opacity: 1;
	}

	
}


@media (max-width: 900px) {
		
	/* main content */
	
	.post-header { padding: 75px 0; }
	
	.posts .post-header { padding: 50px 0; }
	
	.post-meta-top { margin-bottom: 20px; }
	
	.post-title { font-size: 2.5em; }
	
	/* paginations */
	
	.archive-nav a { 
		padding: 50px;
		font-size: 1.1em;
	}
	
	/* footer */
	
	.footer .column-3 { display: none; }
	
	.footer .one-third { width: 47.5%; margin-left: 5%; }
	
	.footer .one-third:first-child { margin-left: 0; }
	
	
}


@media (max-width: 600px) {

	body { font-size: 16px; }
	
	/* structure */
	
	.section { padding: 50px 0; }
	.medium-padding { padding: 40px 0; }
	.light-padding { padding: 25px 0; }
	.small-padding { padding: 20px 0; }
	
	.section-inner { max-width: 88%; }

	/* header */
	
	.header { padding: 25px 0; }
	
	.blog-title { font-size: 24px; letter-spacing: 0; }
	
	.blog-logo img { height: 40px; }
	
	/* navigation */
	
	.nav-toggle span { color: #666; }
	
	.mobile-menu a { padding: 20px 0 20px 6%; }
	
	.mobile-menu ul a { padding-left: 11%; }
	.mobile-menu ul ul a { padding-left: 16%; }
	.mobile-menu ul ul ul a { padding-left: 21%; }
	.mobile-menu ul ul ul ul a { padding-left: 26%; }
	.mobile-menu ul ul ul ul ul a { padding-left: 31%; }
	
	.mobile-search-form #s { 
		padding: 20px 60px 20px 0; 
		max-width: 88%;
	}
	
	/* main content */
	
	.post-header { padding: 40px 0; }
	.posts .post-header { padding: 30px 0; }
	
	.post-meta-top { 
		margin-bottom: 12px;
		font-size: 0.85em;
		letter-spacing: 0;
	}
	
	.post-meta-top .sep { margin: 0 4px; }
	
	.post-title { font-size: 2.25em; }
	
	a.post-header .post-title { text-shadow: 1px 1px 0 rgba(0,0,0,0.1); }
	
	/* single post */
	
	.single .post,
	.error404 .post,
	.page .single.post { padding-bottom: 50px; }
	
	.post-meta { margin-top: 50px; }
		
	.post-meta .meta-block {
		width: 100%;
		float: none;
		margin: 0;
	}
	
	.post-meta .meta-block + .meta-block { margin-top: 40px; }
	
	.post-author .avatar { max-width: 80px; }
	.post-author-container { min-height: 80px; }
	.post-author-inner { margin-left: 100px; }
	
	/* post-content */
	
	.post-content p,
	.post-content blockquote,
	.post-content ul,
	.post-content ol,
	.post-content li,
	.post-content address,
	.post-content dl,
	.post-content .wp-caption,
	.post-content pre {
		line-height: 150%;
	}
	
	.post-content li { margin-bottom: 0.5em; }
	
	.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
		margin: 35px 0 18px;
	}
	
	.post-content h1 { font-size: 1.5em; }
	.post-content h2 { font-size: 1.35em; }
	.post-content h3 { font-size: 1.2em; }
	.post-content h4 { font-size: 1.1em; }
	.post-content h5 { font-size: 0.9em; }
	.post-content h6 { font-size: 0.75em; margin-bottom: 10px; }
	
	.post-content h1+h1, .post-content h1+h2, .post-content h1+h3, .post-content h1+h4, .post-content h1+h5, .post-content h1+h6,
	.post-content h2+h1, .post-content h2+h2, .post-content h2+h3, .post-content h2+h4, .post-content h2+h5, .post-content h2+h6,
	.post-content h3+h1, .post-content h3+h2, .post-content h3+h3, .post-content h3+h4, .post-content h3+h5, .post-content h3+h6,
	.post-content h4+h1, .post-content h4+h2, .post-content h4+h3, .post-content h4+h4, .post-content h4+h5, .post-content h4+h6,
	.post-content h5+h1, .post-content h5+h2, .post-content h5+h3, .post-content h5+h4, .post-content h5+h5, .post-content h5+h6,
	.post-content h6+h1, .post-content h6+h2, .post-content h6+h3, .post-content h6+h4, .post-content h6+h5, .post-content h6+h6 {
		margin-top: 20px;
	}
	
	.post-content blockquote:before,
	.post-content blockquote:after { margin: 25px auto; }
	
	.post-content blockquote p { font-size: 1em; }
	
	.post-content blockquote cite { margin-top: 20px; }
	
	.post-content .alignleft,
	.post-content .alignright {
		display: block;
		max-width: none;
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	
	.post-content .alignleft a,
	.post-content .alignleft img,
	.post-content .alignright a,
	.post-content .alignright img {
		display: block;
		margin: 0 auto;
	}
		
	/* comments */
	
	.comments-title-container { 
		padding-bottom: 15px;
		margin-bottom: 30px; 
	}
	
	.comments-nav-below {
		padding-top: 15px;
		margin-top: 40px;
	}
	
	.add-comment-title { margin-top: 9px; }
	
	.comment-header span {
		display: block;
		margin: 7px 0 0 0;
	}
	
	li.comment { margin-top: 30px; }
	
	.comment .avatar { max-width: 60px; }
	
	.bypostauthor .by-post-author { top: -6px; left: -6px; }
	
	.comment-inner { 
		padding: 25px; 
		margin-left: 80px;
	}
	
	.comment-inner:after { top: 18px; }
	
	.comment-actions { font-size: 0.9em; }
	
	/* respond */
	
	.comments .comment-respond { margin-top: 30px; }
	.comments .comment-respond .logged-in-as { margin-bottom: 30px; }
	
	.comment-reply-title #cancel-comment-reply-link { font-size: 0.8rem; }
	
	.comment-respond .comment-reply-title { margin-bottom: 15px; }
	
	.comment-respond .logged-in-as,
	.comment-respond .comment-notes { 
		margin-bottom: 30px; 
		font-size: 0.9em; 
	}
	
	.comment-respond .third {
		width: 100%;
		margin: 0 0 12px 0;
		float: none;
	}
	
	.comment-respond input,
	.comment-respond textarea { 
		font-size: 1em; 
		padding: 12px 16px; 
	}
	
	.comment-respond .thirds { margin: 0; }
	
	.comment-respond textarea { height: 200px; }
	
	.comment-respond .form-allowed-tags { 
		margin-top: 15px; 
		font-size: 0.75em;
	}
	
	.comment-respond .form-submit { margin-top: 15px; }
	
	/* pagination */
	
	.archive-nav a { 
		padding: 30px 0; 
		font-size: 0.8em;
		font-weight: 700;
	}
	
	/* page & page templates */
	
	.archive-container { margin-top: 40px; }
	
	.archive-container a { padding: 14px 7px; }
	
	.archive-container a span {
		font-family: 'Crimson Text', 'Times New Roman', Times, serif;
		font-size: inherit;
		line-height: inherit;
		font-weight: 400;
		font-style: italic;
		text-transform: none;
		letter-spacing: 0;
		position: static;
		top: auto;
		right: auto;
		margin-top: 0;
	}
	
	.archive-container a span:before { content: " — "; }
	
	/* footer */
	
	.footer .one-third,
	.widget {
		display: block;
		width: 100%;
		float: none;
		margin: 40px 0 0 0;
	}
	
	.footer .one-third:first-child { margin-top: 0; }
	
	.widget-content li { padding-left: 18px; }
	
	/* credits */
	
	.credits { font-size: 1em; }
	
	.credits span { display: none; }

}


@media (max-width: 500px) {
	
	body { font-size: 15px; }
		
	/* main content */
	
	.post-meta-top { font-size: 0.8em; }
	
	.post-title { font-size: 2em; }
	
	.cat-tags div {
		width: 100%;
		margin: 0;
		margin-top: 30px;
		font-size: 1em;
	}
	
	.cat-tags div strong { margin-bottom: 5px; }
	
	.cat-tags div:first-child { margin-top: 0; }
	
	/* comments */
	
	.comment .avatar { display: none; }
	
	.comment-inner { margin-left: 0; }
	
	.comment-inner:after { content: none; }
	
	/* pagination */
	
	.archive-nav a { padding: 25px 0; }
	
}


@media (max-width: 350px) {

	/* header */
	
	.blog-logo img {
		height: 40px;
		width: auto;
	}
	
	/* single post */
	
	.post-author .avatar { max-width: 60px; }
	.post-author-inner { margin-left: 80px; }
	
	
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 


	/* 2X images */

	.search-toggle-menu-item a.search-toggle,
	.search-toggle-menu-item a.search-toggle:hover,
	.search-form .search-button,
	.mobile-search-form .search-button { background-image: url(images/icons/2x/spyglass-d.png); }
	
	p.post-categories { background-image: url(images/icons/2x/folder-g.png); }
	p.post-tags { background-image: url(images/icons/2x/tag-g.png); }
	p.post-nav-prev { background-image: url(images/icons/2x/prev-g.png); }
	p.post-nav-next { background-image: url(images/icons/2x/next-g.png); }
	
	.author-links a.author-link-posts { background-image: url(images/icons/2x/archive-w.png); }
	.author-links a.author-link-website { background-image: url(images/icons/2x/home-w.png); }
	
	.bypostauthor .by-post-author { background-image: url(images/icons/2x/author-w.png); }
	
	
}